extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hello, We welcome you to the back-end developer Blog-Project.
  P Meet our team 
  p simeon 
  p Sadeeq 
  p Tosin 
  p Gloria 
  p Godiya
  p Facilitator 
  p Mr Tim
